.vscode/
settings.json
*.dSYM
*.out
svp.code-workspace
data/
src/main/cpp/data/
src/main/cpp/main
*.sh
.ipynb_checkpoints/
model/.ipynb_checkpoints/
src/main/cpp/svp
src/main/cpp/logs
src/main/cpp/scripts
src/main/cpp/out
